<div class="box wide">
  <div class="legend">
    创建新用户
  </div>

  <%= form_for @new_user, { :url => signup_url,
  :autocomplete => "off" } do |f| %>
    <%= hidden_field_tag "invitation_code", @invitation.code %>

    <p>
    请输入你的邮箱地址和密码来创建新用户。
    你的邮箱地址不会公开给其他人，而且仅仅用与找回你的密码，或根据你的设置收到相关提醒。你的用户名可以稍后更改。
    </p>

    <%= error_messages_for(@new_user) %>

    <p>
    <%= f.label :invitation, "邀请人:", :class => "required" %>
    <span class="d">
      <a href="/u/<%= @invitation.user.username %>" target="_blank"><%=
        @invitation.user.username %></a>
    </span>
    </p>

    <p>
    <%= f.label :username, "用户名:", :class => "required" %>
    <%= f.text_field :username, :size => 30 %>
    <span class="hint">
      <tt>[A-Za-z0-9][A-Za-z0-9_-]*</tt>
    </span>
    <br />

    <%= f.label :email, "E-mail:", :class => "required" %>
    <%= f.email_field :email, :size => 30 %>
    <span class="hint">
      <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>'ized
    </span>
    <br />

    <%= f.label :password, "密码:", :class => "required" %>
    <%= f.password_field :password, :size => 30, :autocomplete => "off" %>
    <br />

    <%= f.label :password_confirmation, "密码(再次输入):",
      :class => "required" %>
    <%= f.password_field :password_confirmation, :size => 30,
      :autocomplete => "off" %>
    <br />
    </p>

    <p>
    想说说你自己？这是选填项，可以在你的个人介绍中呈现，也可以随时修改。
    </p>

    <p>
    <div class="boxline">
      <%= f.label :about, "About:", :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler"
        style="margin-left: 9em; width: 600px;">
        <div class="markdown_help_label">
          Markdown formatting available
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= submit_tag "创建" %>
    </p>
  <% end %>
</div>
