<p>
我们对邀请的数量没有限制，但是你邀请来的用户能够在<a href="/u">用户列表</a>中看到，同时你也需要为邀请来的用户负责。对于不认识的人请谨慎邀请。
</p>

<%= form_tag "/invitations", :method => :post do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= hidden_field_tag :return_home, 1 %>
  <% end %>

  <div class="boxline">
    <%= label_tag :email, "E-mail:", :class => "required" %>
    <%= text_field_tag :email, "", :size => 30 %>
  </div>

  <div class="boxline">
    <%= label_tag :memo, "留言:", :class => "required" %>
    <%= text_field_tag :memo, "", :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= submit_tag "发送邀请" %>
  </div>
<% end %>

