<div class="box wide">
  <div class="legend">
    登录
  </div>

  <%= form_tag login_url do %>
  <p>
    <%= label_tag :email, "E-mail或用户名:" %>
    <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
    <br />

    <%= label_tag :password, "密码:" %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />
    </p>

    <p>
    <%= submit_tag "登录" %>
    </p>

    <p>
    Forgot your password? <%= link_to "忘记密码",
      forgot_password_url %>.
    </p>

    <p>
    还未成为用户？目前注册用户仅为邀请制，这样能够更好的保证内容质量。如果你认识<a href="/u/">这里的人</a>，让他们来邀请你。或者<a href="/invitations/request">申请测试账号</a>.
    </p>
  <% end %>
</div>
